h1{
    height: 100px;
    background-color: yellow;
    width: 200px;
    /* border-width: 2px;
    border-color: brown;
    border-style: solid; */
    border: 2px solid brown;
    border-radius: 20%;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

div{
    /* border-width: 2px;
    border-color: brown;
    border-style: dashed; */
    border: 2px dashed brown;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}